.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(196, 255, 221);
  display: grid;
  place-items: center;
}
.app__container {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(
    rgb(12, 48, 82),
    rgb(31, 224, 31),
    rgba(0, 0, 255, 0.863)
  );
  border-radius: 12px;
  padding: 32px 0;
}

.app__todoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
